<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Zoopla test by Davide Vago - Page not found</title>
    <link rel="stylesheet" href="assets/css/main.css">

</head>
<body class="zoopla">
    <div class="container">
        <div class="zoopla__error">
            <div class="jumbotron">
                <h1>Ops! Something went wrong</h1>
                <p>Requested page not found</p>
            </div>
        </div>
    </div>
</body>
</html>
